@media (max-width: 990px) {
  .container {
    padding: 0 1rem;
  }
  .header .container {
    flex-direction: column;
    gap: 1.5rem;
  }
  .home .container, .education-row, .skills-row {
    flex-direction: column !important;
    gap: 2rem;
    align-items: center !important;
  }
  section {
    padding: 4rem 0 2rem 0;
  }
  .navbar {
    gap: 1.5rem;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 54%;
  }
  .footer {
    flex-direction: column;
    gap: 1em;
  }
  .home-content h1 {
    font-size: 2.3rem;
  }
  .heading {
    font-size: 1.7rem;
  }
}
